.navbar-brand, .navbar-brand .logo {
    height: auto;
    width: auto;
}
.navbar {
    padding: 0;
}

.moremenu .nav-link.active {
    background-color: #0f6cbf;
    border-color: transparent;
    color: #fff !important;
    border-bottom-color: $green;
}
.moremenu .nav-link.active:focus, .moremenu .nav-link.active:hover {
    background-color: #0c589c;
    border-bottom-color: $green;
}


@include media-breakpoint-up(xl) {
    #main-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .navbar-maxwidth {
        width: $navbar-maxwidth;
        min-width: $navbar-maxwidth;
        margin: auto;
    }
}

@include media-breakpoint-down(lg) {
    .navbar-brand .logo {
        display: none;
    }
}
